name: Build and Publish
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag name'
        required: true
      note:
        description: 'Release note'
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Build
        run: |
          npm i -g @vercel/ncc
          npm i @actions/github
          npm run build
      - name: Commit
        run: |
          git config user.name 'xiang-921101'
          git config user.email '132485665+xiang-921101@users.noreply.github.com'
          git commit -am "dist build"
          git push
  testï¼š
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: Test index.js
        env:
          INPUT_GITHUB_USERNAME: "xiang-921101"
          INPUT_GITHUB_TOKEN: ${{ secrets.ACTIONSECRET2024 }}
          INPUT_TRAGET_REPOS: '[xiang-921101/activity-log]'
          INPUT_OUTPUT_STYLE: MARKDOWN
          INPUT_IGNORE_EVENTS: '[]'
          INPUT_README_PATH: README.md
          INPUT_COMMIT_MESSAGE: Update README.md
          INPUT_EVENT_LIMIT: '100'
        run: node ./dist/index.js
          
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Pull latest
        run: |
          git config user.name 'xiang-921101'
          git config user.email '132485665+xiang-921101@users.noreply.github.com'
          git pull
      - name: Tag it
        run: |
          git tag -a ${{ inputs.tag }} -m "${{ inputs.note }}"
          git push --tags
      - name: Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ inputs.tag }}
          release_name: Release ${{ inputs.tag }}
          body: ${{ inputs.note }}
          draft: false
          prerelease: false
